.centered-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.h2main {
  margin: 0;
  font-size: 36px;
}

.info-card {
  background-color: #07676d99;
  color: white;
  border-radius: 10px;
  margin: 0;
  width: 187px;
  height: 76px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.grid-item {
  height: 76px;
  width: 152px;
  background-color: #07676d99;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.grid-item-full {
  height: 76px;
  width: 308px;
  background-color: #07676d99;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  font-size: 24px;
  gap: 20px;
}

.home-container {
  height: 95vh;
  background-color: #e0e7e9;
}

.grid-container {
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.photoBirthMain {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5px;
}

.spanMain {
  font-size: 18px;
}
