.team-staff-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .team-staff-duty-grid-item {
    margin-bottom: 20px;
  }
  
  .team-staff-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  